---
---
$textColour: rgb(33, 33, 33);
$blue: rgb(91, 183, 255);

$middlePoint: "(max-width : 800px)";
$lowPoint: "(max-width : 550px)";
$min650: "(max-width : 650px)";

.blue {
    font-weight: 400;
    color: $blue;
}

body, html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $textColour;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    max-width: 900px;
    width: 95%;
    margin: 0 auto;
}
